extends layout

mixin result(art, admin)
  result
      if admin
        div.container.result-card(dbid='' + art._id)
          header.underline
            a(href='/article/view/id/'+art._id)= art.title
          tools.underline
            img(src='/images/Trash Can 2.png').remove
            img(src='/images/Star 2.png').bookmark
            a(href='/article/download/id/'+art._id download='testfile.pdf').download
              img(src='/images/Download 2.png')
          info
            author
              h5= 'Author: ' + art.author.toString().replace(/,/g, ', ') 
            inst
              h5= 'Institution: ' + art.university
            tags
              h5= 'Tags: ' + art.tag.toString().replace(/,/g, ', ')
            category
              h5= 'Category: ' + art.category.toString().replace(/,/g, ', ')  
          preview-label
            h3 Abstract
          preview-text= art.snippet
      else
        div.container.result-card(dbid='' + art._id)
          header.underline
            a(href='/article/view/id/'+art._id)= art.title
          tools.underline
            img(src='/images/Star 2.png').bookmark
            a(href='/article/download/id/'+art._id download='testfile.pdf').download
              img(src='/images/Download 2.png')
          info
            author
              h5= 'Author: ' + art.author.toString().replace(/,/g, ', ') 
            inst
              h5= 'Institution: ' + art.university
            tags
              h5= 'Tags: ' + art.tag.toString().replace(/,/g, ', ')
            category
              h5= 'Category: ' + art.category.toString().replace(/,/g, ', ')  
          preview-label
            h3 Abstract
          preview-text= art.snippet

append scripts
  script.
    $(document).ready( function() {
      var alert = $('.alert').html();

      $('.read-more').click( function() {
        $('.alert').show().delay(4000).fadeOut();
      });

      // Ajax call to remove an article from database with trashcan button
      $('.remove').click( function() {

        var $thisCard = $(this).parents('.result-card');  
        var id = $thisCard.attr( "dbid" );
        console.log('Clicked remove on ' + id);
        
        //- Send a request to remove this article from the database
        //- If we get a success response, hide and remove the div, if not, display error
        //- NOTE: it appears that ajax requests look context of $(this), and this line is required to successfully remove the card if it was removed from the database
        $.ajax({
          method: 'GET',
          url: '/remove?id=' + id,
          success: function( result ) {
            if( result == "success" ) {
              console.log('Server responded with success');

              $thisCard.slideUp(250, function() {
                $thisCard.parents('result').remove();
              }).fadeOut(200).dequeue();
            }
            else{
              console.log('There was an error: ' + result);
            }
          }
        });
      });

      $('.bookmark').click( function() {
        var $thisCard = $(this).parents('.result-card');  
        var id = $thisCard.attr( "dbid" );
        var $thisButton = $(this);

        console.log('Clicked bookmark on ' + id);

        // Ajax call to /article/bookmark/add/id/id to add bookmark to user
        $.ajax({
          method: 'GET',
          url: '/article/bookmark/add/id/' + id,
          success: function( response ) {
            if( response == 'bookmark added') {
              console.log('Server responsed with success');
              $thisButton.attr('src', '/images/Star 2 - Yellow.png');
            }
            else {
              console.log('Server denied bookmarking request');
            }
          }
        });
      });

      $('.download').click( function() {
        var $thisCard = $(this).parents('.result-card');  
        var id = $thisCard.attr( "dbid" );
        var $thisButton = $(this);

        console.log('Clicked download on ' + id);
      });
    });

block content
  div.container

    div.row.justify-content-md-center
      div.alert.alert-success(role='alert')
        | Article deleted

    div.row(style='background-color: white')
      form.search.justify-content-md-center(method='GET' action='/search')
        br
        div.row.aam-row-padded
          div.btn-group.search-selector(data-toggle="buttons")
            div.btn.search-selector-btn.col-sm-10
              input(type="radio" name="options" value="tag" id="keyword" autocomplete="off" required)
              h4 Keyword
            div.btn.search-selector-btn.col-sm-10
              input(type="radio" name="options" value="author" id="author" autocomplete="off")
              h4 Author
            div.btn.search-selector-btn.col-sm-10
              input(type="radio" name="options" value="doi" id="doi" autocomplete="off")
              h4 DOI
            div.btn.search-selector-btn.col-sm-10
              input(type="radio" name="options" value="subject" id="subject" autocomplete="off")
              h4 Subject

        div.row.aam-row-padded
          input.searchbar(type='text' placeholder='Search' name='search' required)

        div.row.aam-row-padded
          input.btn.aam-btn.btn-primary(type='submit' value='Search' href='/search' method='POST')

    div.row.justify-content-md-center
      div.container.result-list.justify-content-md-center
        //- ul
        each article in results
            +result(article, admin)