extends layout

mixin res(art)
  div.container.result-card
    div.row.result-header
      p.result-header= art.title
    div.row.result-snippet
      h5= art.author 
      h5= art.university
      p.result-snippet= art.snippet
      div.read-more
        p Read more


block content
  div.container-fluid
      
    div.row.justify-content-md-center

      div.col-md-10.result-list.justify-content-md-center
        h1 Results for: #{search}
        h1 Search type: #{searchtype}
        div.row.justify-content-md-center
        
          ul
            each article in results
              +res(article)

          //- div.container.result-card
          //-   div.row.result-header
          //-     p.result-header Result 1
          //-   div.row.result-snippet
          //-     h5 Article Snippet:
          //-     p.result-snippet Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
          //-     div.read-more
          //-       p Read more
